#letters {
  main {
    padding: 20px 5%;
  }
}

.letter-container {
}

.letter {
  width: 100%;
  max-width: 8.5in;
  min-height: 11in;
  padding: 5rem 5%;
  background-color: #fff;
  margin: 0 auto;
  user-select: none;

  .sender {
    display: grid;
    align-items: start;
    justify-content: end;
    width: 100%;
    line-height: 1.2;

    .address {
      width: 100%;
    }

    .complementary-close {
      display: flex;
      justify-self: start;
      padding-bottom: 2.5rem;
      // border-bottom: 1px solid #000;
    }
  }

  .recipient {
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  &-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  &-paragraphs {
    line-height: 2;
    text-align: justify;
  }
}
