<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Payments</title>

    <link rel="stylesheet" href="../src/css/main.css">
</head>

<body>
    <div class="wrapper">

        <!-- ===== SIDEBAR COMPONENT =====  -->
        <div class="side-container">
            <ul class="nav" id="sideNav">

            </ul>
        </div>

        <div class="container">

            <!-- ===== HEADER COMPONENT ===== -->
            <header></header>

            <!-- ===== MAIN COMPONENT ===== -->
            <main>

                <div class="select-container">
                    <div class="input-container radio">
                        <!-- <label for="">Select Session</label> -->
                        <input type="radio" name="mmm" id="">
                        <input type="radio" name="mmm" id="">
                    </div>
                    <div class="input-container">
                        <!-- <label for="">Select Session</label> -->
                        <select name="" id="">
                            <option value="">School Fees</option>
                            <option value="">Course Reg</option>
                            <option value="">GS Payments</option>
                            <option value="">Acceptance Fee</option>
                            <option value="">Convocation Payment</option>
                            <option value="">Departmental due</option>
                            <hr>
                            <option value="">Acceptance Letter</option>
                        </select>
                    </div>
                    <div class="input-container">
                        <label for="">Select Session</label>
                        <select name="" id="">
                            <option value="">...</option>
                            <option value="">2019 - 2020</option>
                            <option value="">2018 - 2019</option>
                            <option value="">2017 - 2018</option>
                        </select>
                    </div>
                    <div class="view-all">
                        <a href="" class="">View all</a>
                    </div>
                    <div class="actions">
                        <button>Reciept</button>
                        <button>Invoice</button>
                        <button>Remita</button>

                    </div>
                </div>
            </main>

            <!-- ===== LIVE QUERY SEARCH COMPONENT -->
            <div class="live-search-query"></div>

        </div>
    </div>

    <script src="../js/app.js" type="module"></script>
    <script src="../js/components/live-query-search.js"></script>
    <script src="../js/components/header.js"></script>
</body>

</html>