<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>

    <!-- ===== LINKING STYLESHEET ===== -->
    <link rel="stylesheet" href="../src/css/main.css">
</head>

<body>
    <div class="wrapper">

        <!-- ===== SIDEBAR COMPONENT =====  -->
        <div class="side-container">
            <ul class="nav" id="sideNav">

            </ul>
        </div>

        <div class="container">

            <!-- ===== HEADER COMPONENT ===== -->
            <header></header>

            <!-- ===== MAIN COMPONENT ===== -->
            <main id="subscribedServices">
                <div class="main-inner">
                    <h2>Currenly no subscribed Services</h2>

                    <div class="user-actions">
                        <button>Add a subscripion</button>
                        <button>unsubcribed from</button>
                    </div>
                </div>
            </main>

            <!-- ===== LIVE-QUERY-SEARCH COMPONENT -->
            <div class="live-search-query"></div>

        </div>

        <script src="../js/app.js" type="module"></script>
        <script src="../js/components/live-query-search.js" type="module"></script>
        <script src="../js/components/header.js"></script>

</body>

</html>