*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: inherit;
  font-size: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  height: 100%;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
}

body {
  font-family: "Poppins";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.container {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main {
  position: relative;
  padding: 0 2em;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  height: calc(100% - 4em);
}

.main-inner {
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.input-group {
  width: 300px;
  margin-bottom: 1em;
}

.input-group label,
.input-group input,
.input-group select {
  display: block;
  width: 100%;
  outline: none;
  border: none;
}

.input-group label {
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 1em;
}

.input-group input,
.input-group select {
  font-size: 1em;
  padding: 0.25em 0.5em;
  font-family: "Poppins";
}

.input-group input {
  border-bottom: 1px solid #000;
  background: transparent;
}

.user-actions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* ===== IMPORTING ATOMS ===== */
.student__image {
  height: 260px;
  width: 300px;
  margin: auto;
}

.student__image .studentAvatar,
.student__image .studentAvatar::before {
  height: 162px;
  width: 162px;
}

.student__image .studentAvatar {
  position: relative;
  margin: auto;
  background-image: url(../icons/user.svg);
  background-position: center center;
  background-repeat: no-repeat;
  margin-top: 4em;
}

.student__image .studentAvatar::before {
  position: absolute;
  content: "";
  height: 216px;
  width: 216px;
  top: -13.5px;
  z-index: -1;
  left: -27px;
  border-radius: 50%;
  background: #ebe9e9;
}

button {
  font-size: 1em;
  padding: .75rem 2rem;
  font-family: "Montserrat";
  outline: none;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  font-weight: 700;
}

.page-alert {
  font-size: 0.75rem;
  padding: 20px;
  background: rgba(255, 255, 255, 0.904);
  -webkit-box-shadow: 0px 5px 5px #eee;
          box-shadow: 0px 5px 5px #eee;
  text-align: center;
  font-weight: 700;
}

.page-title {
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
  opacity: 0.7;
}

.live-search-query {
  position: absolute;
  top: 2em;
  height: 0;
  left: 0;
  background: white;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.live-search-query .inner-container {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 300px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.live-search-query .query-result {
  text-align: left;
  width: 100%;
  letter-spacing: 0.5px;
}

.live-search-query .query-result-data {
  width: 100%;
}

.live-search-query .query-result-data li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
  font-size: 0.85em;
}

.live-search-query .query-result-data li:hover {
  cursor: pointer;
  background: #f3f3f3;
  font-weight: 700;
}

.live-search-query .query-result-data li:nth-child(2n) {
  background: rgba(51, 51, 51, 0.808);
  color: #fff;
}

.live-search-query .query-result-data li:nth-child(2n):hover {
  background: #f2f2f2;
  color: #333;
}

.live-search-query.show {
  height: calc(100vh - 2em);
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  z-index: 100;
}

.live-search-query.show .inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#studentName {
  font-size: 2em;
  word-spacing: 2px;
  font-weight: 500;
  margin-bottom: 1em;
}

.user__student {
  text-align: center;
}

@media screen and (min-width: 620px) {
  .user__student {
    margin-top: 2em;
    text-align: left;
  }
}

.user__student #studentName {
  margin-bottom: unset;
}

.user__student #studentCourse {
  font-size: 1.5em;
  word-spacing: unset;
  font-weight: bold;
}

/* ===== IMPORTING COMPONENTS ===== */
.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  padding: 1em;
  margin-top: 2em;
}

.card {
  height: auto;
  background: rgba(255, 255, 255, 0.904);
  -webkit-box-shadow: 0px 5px 5px #eee;
          box-shadow: 0px 5px 5px #eee;
  cursor: pointer;
  color: #000;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
}

.card:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.AppCard {
  background: rgba(255, 255, 255, 0.904);
  -webkit-box-shadow: 0px 5px 5px #eee;
          box-shadow: 0px 5px 5px #eee;
  cursor: pointer;
  color: #000;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
  height: 300px;
}

.course-name {
  font-weight: bold;
  opacity: 0.7;
}

.course p {
  font-size: 0.75rem;
}

.course span {
  font-weight: 700;
}

.course-details ul {
  list-style-type: square;
  margin-left: 2rem;
}

header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 10px #eee;
          box-shadow: 0 5px 10px #eee;
  padding: 1rem 2rem;
}

header #logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #logo img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

header > * {
  cursor: pointer;
}

header .menu,
header .liveSearchAdd {
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu img,
header .liveSearchAdd img {
  height: 1em;
}

.search-bar {
  display: -ms-grid;
  display: grid;
  padding: 2rem;
  -webkit-box-shadow: 0 0 5px #eee;
          box-shadow: 0 0 5px #eee;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 25px;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.search-bar .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-color: rgba(0, 0, 0, 0.1);
}

select {
  font-size: 100%;
  padding: 0.5rem 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: .85rem;
  font-weight: bold;
}

.select-container {
  padding: 2rem;
}

.select-container .input-container {
  display: -ms-grid;
  display: grid;
  margin-bottom: 2rem;
}

.select-container .input-container.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-container .view-all {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 0.75rem;
}

.select-container .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 680px) {
  .select-container .actions button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.set-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.side-container {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: white;
  -webkit-box-shadow: 0.5px 0 2px rgba(0, 0, 0, 0.158);
          box-shadow: 0.5px 0 2px rgba(0, 0, 0, 0.158);
  white-space: nowrap;
  width: 90%;
  max-width: 320px;
  z-index: 100;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: none;
}

.side-container .nav {
  position: relative;
  height: calc(100% - 4rem);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-transition: 0.3s delay ease-in;
  transition: 0.3s delay ease-in;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #333;
}

.side-container .nav-list {
  height: 100%;
  padding-left: 2rem;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.side-container .nav-list .nav-link {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.85em;
  font-weight: 500;
}

.side-container .nav-list:hover, .side-container .nav-list.active, .side-container .nav-list:first-child {
  background: rgba(228, 226, 226, 0.945);
  color: #020202;
}

/* ===== SIDE CONTAINER ACTIVE STATE ===== */
.side-container.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: block;
}

.user__student {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__student > div {
  margin-bottom: 20px;
}

.user__thumbnail {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #ebe9e9;
  background: #000;
}

.user__thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.user__action {
  position: absolute;
  right: 5px;
  top: 80px;
  z-index: 1000;
  width: auto;
  height: auto;
  background: #ebe9e9;
  padding: 1rem;
  border-radius: 2px;
  font-size: 0.75rem;
}

.user__action a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__action a:first-child {
  margin-bottom: 10px;
}

.user__action a i {
  margin-right: 10px;
  color: #323232;
}

.user__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__status--color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: green;
  margin-right: 10px;
}

.user__status--name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 75%;
}

.user__entry-year span:first-child {
  font-size: 75%;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: bold;
  opacity: 0.7;
}

.user__level span:first-child {
  font-size: 75%;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: bold;
  opacity: 0.7;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 -5px 10px rgba(238, 238, 238, 0.3);
          box-shadow: 0 -5px 10px rgba(238, 238, 238, 0.3);
  background-color: #fff;
}

.footer div {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer div i {
  margin-right: 1rem;
}

/* ===== IMPORTING PAGES ===== */
#editProfile {
  position: relative;
  padding: 0 2em;
  width: 100%;
  height: calc(100% - 4em);
}

#editProfile .user-top-setting {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

#editProfile .student__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: start;
}

#home .studentBio {
  padding: 0 2em;
  text-align: center;
}

#myCoupons .main-inner {
  margin-top: 2rem;
}

#myCoupons .main-inner p {
  line-height: 2;
  margin-bottom: 2rem;
}

#subscribedServices {
  display: -ms-grid;
  display: grid;
  text-align: center;
  place-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */