<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Calculator</title>

    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class="">
        <header>

        </header>

        <main>
            <div class="main-inner">
                <div class="input-group">
                    <label for="">In what year were you born?</label>
                    <input type="text" name="" id="birthYearInput">
                </div>
                <button onclick="myAge()">Continue</button>

                <div class="displayAge"></div>
            </div>
        </main>
    </div>

    <script src="./js/components/age.js"></script>
</body>
</html>