<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>

    <!-- ===== LINKING STYLESHEET ===== -->
    <link rel="stylesheet" href="/src/css/main.css">
</head>

<body>
    <div class="wrapper">

        <!-- ===== SIDEBAR COMPONENT =====  -->
        <div class="side-container">
            <ul class="nav" id="sideNav"></ul>
        </div>

        <div class="container">

            <!-- ===== HEADER COMPONENT ===== -->
            <header></header>

            <!-- ===== SEARCHBAR COMPONENT ===== -->
            <!-- <div class="search-bar">
                <div class="input-container">
                    <input type="search" name="" id="">
                    <button type="submit">Search</button>
                </div>
                <select name="" id="">
                    <option value="">Sort by</option>
                </select>
            </div> -->

            <!-- ===== MAIN COMPONENT ===== -->
            <main id="myDocuments">
                <div class="back">back </div>
                <div class="set-1">

                    <h3>Lecture Notes >> <span>GSP 201</span></h3>

                </div>
                <div class="">
                    <div class="">2019 - 2020</div>
                    <div class="">First Semester</div>
                </div>
                <div class="main-inner">

                    <div class="course-details">
                        <ul>
                            <li>jj</li>
                            <li>jj</li>
                            <li>jj</li>
                            <li>jj</li>
                            <li>jj</li>
                            <li>jj</li>
                        </ul>
                    </div>

                    <div class="recommended">
                        <h3>Recommended Textbooks</h3>
                        <ul>
                            <li><a href="">The Principles of Materials Arts in Histroy</a></li>
                            <li><a href="">Lorem, ipsum dolor.</a></li>
                            <li><a href="">Lorem ipsum dolor sit amet.</a></li>
                            <li><a href="">Lorem ipsum dolor sit.</a></li>
                        </ul>
                    </div>
                </div>
            </main>

            <!-- ===== FOOTER COMPONENT ===== -->

            <!-- ===== LIVE-QUERY-SEARCH COMPONENT ===== -->
            <div class="live-search-query"></div>

        </div>
    </div>

    <script src="/js/app.js" type="module"></script>
    <script src="/js/components/live-query-search.js"></script>
    <script src="/js/components/header.js"></script>
</body>

</html>