<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ===== EXTERNAL LINKS ===== -->

    <!-- === MATERIAL ICONS === -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!-- === GOOGLE FONTS === -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!-- === FAVICON === -->
    <link
      rel="shortcut icon"
      href="../../assets/images/favicon/favicon.ico"
      type="image/x-icon"
    />

    <!-- === STYLESHEET === -->
    <link rel="stylesheet" href="../../assets/css/styles.css" />

    <!-- ===== END OF EXTERNAL LINKS ===== -->

    <title>JAMB Services | Appheart</title>
  </head>

  <body id="JAMB">
    <!-- ===== HEADER ===== -->

    <header class="header">
      <a href="/">
        <div class="brand toHome active" id="toHome">
          <div class="logo">
            <img src="../../assets/images/kkk.png" alt="" />
          </div>
          <div class="">
            <span></span> <span>Automated</span> <span>Caf&#201;</span>
          </div>
        </div>
      </a>

      <nav class="nav navbar">
        <ul class="nav__list">
          <li class="nav__item"><a href="#solutions">About company</a></li>
          <li class="nav__item">
            <a href="#platforms" class="button">Goto Portal</a>
          </li>
        </ul>
      </nav>

      <div id="menu-btn"><i class="fa fa-bars"></i></div>
    </header>

    <!-- ===== HEADER ends ===== -->

    <!-- ===== MAIN ===== -->

    <main class="container">
      <!-- HERO -->

      <section class="wrapper hero">
        <div class="">
          <h1>JOINT ADMISSION MATRICULATION BOARD</h1>
          <img
            src="./public/images/JAMB_Logo.jpg"
            style="
              height: 100px;
              width: 100px;
              opacity: 0.5;
              border-radius: 1rem;
              margin-bottom: 2rem;
            "
            alt=""
          />
          <p>
            To reliably measure candidates' abilities and determine their
            sustainability for higher education
          </p>
        </div>

        <div class="swipe-down">
          <i class="material-icons">arrow_downward</i>
        </div>
      </section>

      <!-- ===== HERO ends =====  -->

      <!-- ===== SOLUTIONS ===== -->

      <section class="solutions" id="solutions">
        <div class="cards">
          <div class="card modalTrigger JAMBServices" id="JAMBServices">
            <div class="card__title"><h2>JAMB Registration</h2></div>
            <div class="card__desc">Assists in the registration of JAMB</div>
          </div>
          <div class="card modalTrigger">
            <div class="card__title">
              <h2>JAMB Acrredited CBT Centers</h2>
            </div>
            <div class="card__desc">
              For building classlist / payroll System.
            </div>
          </div>
          <div class="card modalTrigger Remita">
            <div class="card__title"><h2>Web payment</h2></div>
            <div class="card__desc">Remita API, Bank Transfer, e-Tranzact</div>
          </div>
          <div class="card">
            <div class="card__title"><h2>Time Manager</h2></div>
            <div class="card__desc">Create Time table, task scheduling</div>
          </div>
          <div class="card">
            <div class="card__title"><h2>Scheduled email update</h2></div>
            <div class="card__desc">
              Implementing our quotebook API to get scheduled email cards and
              updates
            </div>
          </div>
          <div class="card">
            <div class="card__title"><h2>JAMB Courses Syllabus</h2></div>
            <div class="card__desc">
              Cyber cafe services readily available and nearest to you twith
              regulated prices, Delivery service and quality assurance.
            </div>
          </div>

          <div class="card">
            <div class="card__title"><h2>Verity Matricalation Status</h2></div>
            <div class="card__desc">
              Merge Files into One PDF, Convert file(s) to PDF, Convert File(s)
              from PDF
            </div>
          </div>
          <div class="card">
            <div class="card__title"><h2>How to's Guideline</h2></div>
            <div class="card__desc">This update is coming pretty soon.</div>
          </div>
        </div>
      </section>

      <!-- ===== SOLUTIONS ends ===== -->

      <!-- ===== GET STARTED ===== -->

      <section class="getStarted">
        <h1 class="section-title">
          Ready to Transform your Business Cafe into an Automated one?
        </h1>
        <center>
          <a href="" class="button"> Let's get Started </a>
        </center>
      </section>

      <!-- ===== GET STARTED ends ===== -->

      <!-- ===== PARTNERS ===== -->
      <div class="partnersBg">
        <h1 class="section-title">Partners</h1>
        <div class="partners">
          <div class="partner">
            <img src="../../assets/images/JAMB.jpeg" alt="" />
          </div>
          <div class="partner">
            <img src="../../assets/images/waec.png" alt="" />
          </div>
          <div class="partner">
            <img src="../../assets/images/JUPEB.jpg" alt="" />
          </div>
          <div class="partner">
            <img src="../../assets/images/remita_orange_new_logo.svg" alt="" />
          </div>
          <div class="partner">
            <img src="../../assets/images/NECO.jpg" alt="" />
          </div>
        </div>
      </div>
      <!-- ===== PARTNERS ends ===== -->

      <!-- <div class="modalResponse">
        <div class="modal-content">
          <div class="close-modal">X</div>
          <div id="confirmStatus"></div>
        </div>
      </div> -->

      <div class="modalBg"></div>
    </main>

    <!-- ===== MAIN ends ===== -->

    <!-- ===== FOOTER ===== -->
    <footer class="footer" id="about">
      <h1>ABOUT APPHEART</h1>
      <div class="grid-container">
        <div class="careers">
          <h2>Careers</h2>
          <a href="" class="">Appstore</a>
          <a href="#" class="">Developers</a>
          <a href="#" class="">Engineers</a>
          <a href="#" class="">Designers</a>
          <a href="#" class="">Influecers</a>
        </div>
        <div class="services">
          <h2>Services</h2>
          <a href="#" class="">Idea development</a>
          <a href="#" class="">Business modelling</a>
          <a href="#" class="">Design for Business</a>
          <a href="#" class=""><span>Stock</span> &nbsp; Management</a>
          <a href="#" class="">Platforms & integration</a>
        </div>
        <div class="platforms">
          <h2>Platforms</h2>
          <a href="" class="">Website</a>
          <a href="" class="">Web Application</a>
          <a href="" class="">Mobile Application</a>
          <a href="" class="">Desktop Application</a>
          <a href="" class="">Database Management</a>
        </div>
        <div class="integrations">
          <h2>Integrations</h2>
          <a href="" class="">Payment Integration</a>
          <a href="" class="">Delivery Integration</a>
          <a href="" class="">App dependecies</a>
        </div>
        <div class="social-media">
          <h2>Social Media</h2>
          <a href="https://facebook.com/automatedcafe" class="" target="_blank"
            ><i class="fab fa-facebook"></i> Facebook</a
          >
          <a href="mailto:automatedcafe@gmail.com" class=""
            ><i class="fa fa-envelope"></i> Email</a
          >
          <a href="wa.me/+2348105865474" class=""
            ><i class="fab fa-whatsapp"></i>WhatsApp</a
          >
        </div>

        <div class="">
          <h2>Contact Us</h2>
          <a href="wa.me/+2348105865474" class=""
            ><i class="fa fa-phone-alt"></i>0810 586 5474</a
          >
          <a href="wa.me/+2348105865474" class=""
            ><i class="fa fa-location-arrow"></i>Office 124, CEC Building,
            Beside Nnamdi Azikwe's Library, UNN, Enugu State.</a
          >
          <a href="mailto:automatedcafe@gmail.com" class=""
            ><i class="fa fa-envelope"></i>automatedcafe@gmail.com</a
          >
        </div>
      </div>
      <div class="copyright">&copy;&nbsp;2021</div>
      <div class="branding">
        <img src="/assets/images/kkk.png" alt="" />
      </div>
    </footer>
    <!-- ===== FOOTER ends ===== -->

    <script src="./src/js/main.js" type="module" defer></script>
    <script src="../../assets/js/modal.js"></script>
  </body>
</html>
